# Eclipse
.metadata
bin/
/bin/
tmp/
*.tmp
local.properties
.settings/
.loadpath
.project
.classpath
.iml

# Intellj
.idea/
out/

# netBeans
build/


#Info about .gitignore
https://www.atlassian.com/git/tutorials/saving-changes/gitignore
.checkstyle
